@tailwind base;
@tailwind components;
@tailwind utilities;

.rainbow {
  position: relative;
  background: linear-gradient(0deg, #000, #272727);
}

.rainbow:before,
.rainbow:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background-size: 400%;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.rainbow:after {
  filter: blur(50px);
}

.controller_animate {
  @apply opacity-0 transition-opacity duration-300 ease-in-out hover:opacity-100
}

html {
  --cursor-color: #ba9cd9
}

html.dark-mode {
  --cursor-color: #fff
}
